<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>list of user</title>
</head>
<body>
<header>
            <ul >
                <li>
                    <form action="/" method="GET">
                        <button type="submit">Home</button>
                    </form>
                </li>
                <li>
                    <form action="/logout-process" method="GET">
                        <button type="submit">Sign out</button>
                    </form>
                </li>
                <li>
                    <form action="/profile" method="GET">
                        <button type="submit">My profile</button>
                    </form>
                </li>
            </ul>
</header>

    <ul th:each="user: ${usersList}">
        <form  th:action="@{/users/{id}(id=${user.id})}" method="GET" >
            <div class="card" >
                <h2 th:text="${user.firstName}" class="card-title" ></h2>
                <p  th:text="${user.bio}" ></p>
                <button type="submit">User Details</button>
            </div>
        </form>
    </ul>

</body>
</html>