<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>


    <p >  profile </p>

      <ul >
        <li>
          <form action="/" method="GET">
            <button type="submit">Home</button>
          </form>
        </li>
        <li>
          <form action="/logout-process" method="GET">
            <button type="submit">Sign out</button>
          </form>
        </li>
      </ul>
</header>
<main>

    <div >
      <h4 th:text="${user.getFirstName()}"></h4>
      <h4 th:text="${user.getDateOfBirth()}"></h4>
      <h5 th:text="${user.getBio()}"></h5>
    </div>



    <form  th:action="@{'/myprofile/'+${user.id}+'/addpost'}" method="POST" >
      <div class="card" >
        <input type="text" name="postBody" />
        <button type="submit" >post</button>
      </div>
    </form>


  <ul th:each="post: ${newPosts}">
      <div>
        <h3  th:text="${post.createdAt}"></h3>
        <h1  th:text="${post.body}"></h1>
      </div>
  </ul>
</main>

</body>
</html>